html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#display{
    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: 1rem;
    background-color: dodgerblue;
    color: #fff;
}

#display span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

#display span button{
    border: 0;
    margin: 0;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;

}

#display span button img{
    height: inherit;
    /* width: inherit; */
    display: flex;
    
}

.navigate{
    display: flex;
    justify-content: space-around;
}
.navigate button{
    border: 0;
    color: #fff;
    background-color: coral;
    padding: 0 .6rem;
    border-radius: .3rem;
    cursor: pointer;
    margin: .3rem 0;
}
.navigate #next{
    background-color: seagreen;
}
#position{
    padding-top: .5rem;
    font-size: 14px;
}